body {
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #E4F9F5;
}
div.top {
  position: relative;
  padding-top: 50px;
  margin-bottom: 50px;
}
div.middle {
}
div.bottom {
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
  margin: 50px auto 0 auto;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #11999E;
}
.des {
  font-weight: normal;
}
a {
  color: #11999E;
}
.top-cloud {
  position: absolute;
  top: 20px;
  right: 300px;
}
.bottom-cloud {
  position: absolute;
  left: 20%;
  bottom: 40%;
}

.profile {
  margin: 50px;
}
.skill-row {
  margin: 50px;
}
.factory {
  margin-top: 50px;
}
