body {
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #E4F9F5;
  color: white;
  background: #111;
}
div.top {
  position: relative;
  padding-top: 50px;
  margin: auto auto 100px auto;
}
.profile {
  background-color: #191919;
  margin: 60px;
  padding: 50px;
  border-radius: 20px;
}
.profile-img {
  padding-top: 1.6rem;
}
.skills {
  background-color: #191919;
  margin: 100px 60px 50px 60px;
  padding: 50px;
  border-radius: 20px;
}
.contact {
  background-color: #191919;
  margin: 100px 60px 50px 60px;
  padding: 50px;
  border-radius: 20px;
}
h1 {
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
  margin: 50px auto 0 auto;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66BFBF;

}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #11999E;

}
p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  line-height: 1.5;
}
.des {
  font-weight: normal;
}
a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: auto 10px auto 10px;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
}

.top-cloud {
  position: absolute;
  top: 20px;
  right: 20%;
}
.bottom-cloud {
  position: absolute;
  left: 15%;
  bottom: 45%;
}

}
.factory {
  margin-top: 50px;
}
.skill-row1 {
  width: 70%;
  margin: 50px auto 100px auto;
  text-align: left;
}
.skill-row2 {
  width: 70%;
  margin: auto auto 50px auto;
  text-align: left;
}
.bio {
  width: 70%;
  margin: auto;
}
.end-part {
  width: 70%;
  margin: auto;
}
.copyright {
  font-size: 0.75rem;
  margin: 20px;
}

.businessman-img {
  float: left;
  margin-right: 30px;
}
.robot-img {
  float: left;
  margin-right: 30px;
}
hr {
  width: 5%;
  border-style: dotted;
  border-width: 0 0 5px;
  border-color: #EAF6F6
}
